.sgetmain {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: white;
}
.sgetmain h3 {
  color: red;
  margin-left: 0;
}
.getmain {
  margin-top: -19px;
  width: 100%;
  /* height: 100%; */
  background-color: #fff;
}
.getmain h3{
    padding-left: 62px;
}
