.giftmain {
  width: 100%;
  height: 400px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 80px;
  text-align: center;
  padding: 50px 0;
}

.items {
  height: 400px;
}

.items h2 {
  font-weight: 200;
  font-size: 20px;
  height: 80px;
}

.items h3 {
  font-weight: 200;
  font-size: 16px;
  height: 180px;

}

.items h4 {
  font-weight: 200;
}

.items img {
  height: 50px;
}