.main-nav {
  display: flex;
  width: 100%;
  height: 130px;

  justify-content: center;
  align-items: center;
  gap: 300px;
  background-color: #661414;
  color: white;
}

.left {
  display: flex;
  gap: 15px;
}

.flag {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.navicons {
  display: flex;
  gap: 15px;
}

.icon {
  font-size: 23px;
}

.select {
  border: none;
  background-color: transparent;
  color: white;
}

.imgg {
  width: 130px;

}