.shilamain
{
    width: 100%;
    height: 600px;
    background-color: rgb(227, 224, 224);
    display: flex;
    flex-direction: column;
}
.shilaimg
{
    width: 990px;
    height: 500px;
    margin-left: 40px;
    margin-top: 70px;
    position: absolute;
}
.btnn
{
    background-color:transparent;
    height: 40px;
    width: 200px;
    z-index: 4;
    margin-top: 400px;
    margin-left: 800px;
    border-radius: 5px;
    border: none;
}
.h2
{
    display: flex;
    justify-content: center;
}
.img
{
    width: 200px;
    height: 150px;
    border-radius: 10px; 
   
}
.imgdiv
{
    display: flex;
    gap: 40px;
    position: relative;
    z-index: 2;
    width: 910px;
    overflow-x: auto;
    background-color: #66141452;
    top: 68%;
    left: 7%;

}
.imgdiv::-webkit-scrollbar{
    display: none;
}