.truemain {
  height: 380px;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.trueimg {
  height: 260px;
}
.truemain div p {
  width: 300px;
}
.sub {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 309px;
  gap: 4%;
}
