.main {
  width: 1150px;
  height: 800px;
}
.slider {
  width:100%;
  height:600px;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:80px;
}

.image {
  margin:0;
  overflow:hidden;
  width: 100px;
  height: 500px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #661414;
  z-index: 1;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #661414;
  z-index: 1;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}
